
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@YOUR-CLUSTER.mongodb.net/mediflux

MONGODB_DATABASE=mediflux

# collection to be excluded
EXCLUDED_COLLECTION=static_collection

BACKUP_DIR=/var/backups/mongodb

# Maximum time allowed for one mongodump
BACKUP_TIMEOUT_MINUTES=180


R2_ACCOUNT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

R2_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxxxxxx

R2_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxx

R2_BUCKET=mongodb-backups


SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true

SMTP_USER=backup@example.com
SMTP_PASSWORD=YOUR_APP_PASSWORD

BACKUP_EMAIL_FROM=backup@example.com
BACKUP_EMAIL_TO=you@example.com